@layer components {
  .btn {
    @apply inline-flex items-center justify-center rounded-lg font-medium transition px-4 py-2;
  }

  .btn-primary {
    @apply bg-sky-500 text-white hover:bg-sky-600;
  }

}

