@reference "tailwindcss";
.alertWrapper {
  @apply bg-green-300;
}
dialog {
  padding: 1em;
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
dialog::backdrop {
  backdrop-filter: blur(3px);
  background-color: rgba(0, 0, 0, 0.5);
}
body:has(dialog[open]) {
  overflow: hidden;
}
